[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pydicom = "*"
pylibjpeg = {extras = ["all"], version = "*"}
pyjpegls = "*"
python-dotenv = "*"
gunicorn = "*"
django-environ = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
